In [1]:
%%sql
use spark_catalog

23/10/30 13:52:12 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
23/10/30 13:52:13 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.
23/10/30 13:52:14 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
23/10/30 13:52:14 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
23/10/30 13:52:15 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
23/10/30 13:52:15 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore UNKNOWN@172.18.0.5
23/10/30 13:52:15 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

++
||
++
++

In [ ]:
%%sql
CREATE TABLE non_delta (country STRING, continent STRING) USING PARQUET;

In [2]:
%%sql
insert into non_delta values ('Sri Lanka', 'Asia');

++
||
++
++

In [ ]:
%%sql
CREATE TABLE delta (country STRING, continent STRING) USING delta;

In [3]:
%%sql
insert into delta values ('Sri Lanka', 'Asia');

23/10/30 13:52:34 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

++
||
++
++

In [8]:
%%sql
DESCRIBE HISTORY delta

+---------+---------------------+--------+----------+--------------+-------------------------------------------------------------------------------------+------+----------+-----------+-------------+----------------+---------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+-------------------------------------+
| version |           timestamp | userId | userName |    operation |                                                                 operationParameters |  job | notebook | clusterId | readVersion | isolationLevel | isBlindAppend |                                                                                                                                                                                                                                                                                                                                      operationMetrics | userMetadata |                          engineInfo |
+---------+---------------------+--------+----------+--------------+-------------------------------------------------------------------------------------+------+----------+-----------+-------------+----------------+---------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+-------------------------------------+
|       8 | 2023-10-30 13:52:57 |   None |     None |       DELETE |                                     {'predicate': '["(country#1808 = Sri Lanka)"]'} | None |     None |      None |           7 |   Serializable |         False | {'numDeletionVectorsUpdated': '0', 'numAddedFiles': '0', 'executionTimeMs': '1769', 'numDeletionVectorsRemoved': '0', 'numRemovedFiles': '5', 'rewriteTimeMs': '246', 'numRemovedBytes': '3800', 'scanTimeMs': '1522', 'numCopiedRows': '0', 'numDeletionVectorsAdded': '0', 'numAddedChangeFiles': '0', 'numDeletedRows': '5', 'numAddedBytes': '0'} |         None | Apache-Spark/3.5.0 Delta-Lake/3.0.0 |
|       7 | 2023-10-30 13:52:37 |   None |     None |        WRITE |                                             {'mode': 'Append', 'partitionBy': '[]'} | None |     None |      None |           6 |   Serializable |          True |                                                                                                                                                                                                                                                                                      {'numOutputRows': '1', 'numOutputBytes': '760', 'numFiles': '1'} |         None | Apache-Spark/3.5.0 Delta-Lake/3.0.0 |
|       6 | 2023-10-30 12:04:56 |   None |     None |        WRITE |                                             {'mode': 'Append', 'partitionBy': '[]'} | None |     None |      None |           5 |   Serializable |          True |                                                                                                                                                                                                                                                                                      {'numOutputRows': '1', 'numOutputBytes': '760', 'numFiles': '1'} |         None | Apache-Spark/3.3.2 Delta-Lake/2.2.0 |
|       5 | 2023-10-30 12:04:02 |   None |     None |        WRITE |                                             {'mode': 'Append', 'partitionBy': '[]'} | None |     None |      None |           4 |   Serializable |          True |                                                                                                                                                                                                                                                                                      {'numOutputRows': '1', 'numOutputBytes': '760', 'numFiles': '1'} |         None | Apache-Spark/3.3.2 Delta-Lake/2.2.0 |
|       4 | 2023-10-30 12:03:03 |   None |     None |        WRITE |                                             {'mode': 'Append', 'partitionBy': '[]'} | None |     None |      None |           3 |   Serializable |          True |                                                                                                                                                                                                                                                                                      {'numOutputRows': '1', 'numOutputBytes': '760', 'numFiles': '1'} |         None | Apache-Spark/3.3.2 Delta-Lake/2.2.0 |
|       3 | 2023-10-30 11:33:59 |   None |     None |        WRITE |                                             {'mode': 'Append', 'partitionBy': '[]'} | None |     None |      None |           2 |   Serializable |          True |                                                                                                                                                                                                                                                                                      {'numOutputRows': '1', 'numOutputBytes': '760', 'numFiles': '1'} |         None | Apache-Spark/3.3.2 Delta-Lake/2.2.0 |
|       2 | 2023-10-30 11:18:01 |   None |     None |       DELETE |          {'predicate': '["(spark_catalog.default.delta.country = \'Sri Lanka\')"]'} | None |     None |      None |           1 |   Serializable |         False |                                                                                                                                                      {'numAddedFiles': '0', 'scanTimeMs': '1217', 'numCopiedRows': '0', 'executionTimeMs': '1383', 'numAddedChangeFiles': '0', 'numDeletedRows': '1', 'numRemovedFiles': '1', 'rewriteTimeMs': '165'} |         None | Apache-Spark/3.3.2 Delta-Lake/2.2.0 |
|       1 | 2023-10-30 11:17:04 |   None |     None |        WRITE |                                             {'mode': 'Append', 'partitionBy': '[]'} | None |     None |      None |           0 |   Serializable |          True |                                                                                                                                                                                                                                                                                      {'numOutputRows': '1', 'numOutputBytes': '760', 'numFiles': '1'} |         None | Apache-Spark/3.3.2 Delta-Lake/2.2.0 |
|       0 | 2023-10-30 11:14:55 |   None |     None | CREATE TABLE | {'description': None, 'partitionBy': '[]', 'properties': '{}', 'isManaged': 'true'} | None |     None |      None |        None |   Serializable |          True |                                                                                                                                                                                                                                                                                                                                                    {} |         None | Apache-Spark/3.3.2 Delta-Lake/2.2.0 |
+---------+---------------------+--------+----------+--------------+-------------------------------------------------------------------------------------+------+----------+-----------+-------------+----------------+---------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+-------------------------------------+

In [5]:
%%sql
show tables

+-----------+-----------+-------------+
| namespace | tableName | isTemporary |
+-----------+-----------+-------------+
|   default |     delta |       False |
|   default | non_delta |       False |
+-----------+-----------+-------------+

In [6]:
%%sql
delete from non_delta where country = 'Sri Lanka'

AnalysisException: [UNSUPPORTED_FEATURE.TABLE_OPERATION] The feature is not supported: Table `spark_catalog`.`default`.`non_delta` does not support DELETE. Please check the current catalog and namespace to make sure the qualified table name is expected, and also check the catalog implementation which is configured by "spark.sql.catalog".

In [7]:
%%sql
delete from delta where country = 'Sri Lanka'

+-------------------+
| num_affected_rows |
+-------------------+
|                 5 |
+-------------------+

In [8]:
sc.version

'3.3.2'